
.tree {
	--tree-spacing: 24px;
	--tree-radius: 10px;
	padding-left: 0;
	li {
		display: block;
		font-size: var(--font-size-0);
		position: relative;
	}
	
	ul {
		padding-left: var(--margin-3);
	}
	summary {
		display: block;
		cursor: pointer;
		line-height: 36px;
		& > span {
			min-width: 40em;
		}
		&::marker {
			display: none;
		}
		&:focus {
			outline: none;
		}
		&:focus-visible {
			outline: 1px dotted #000;
		}
		&::before {
			z-index: 1;
		}
	}

	details[open] {
		& > summary {
			border-bottom: 1px dashed var(--color-border-0);
			& ::before {
				background-position: calc(-2 * var(--tree-radius)) 0;
			}
		}
	}
}

.tree li:has(details), .tree ul {
	&:not(:last-child){
		border-bottom: 1px solid var(--color-border-0);
	}
}