
.tree {
	--tree-spacing: 24px;
	--tree-radius: 10px;
	padding-left: 0;
	li {
		display: block;
		font-size: var(--font-size-0);
		position: relative;
		padding-left: calc(2 * var(--tree-spacing) - var(--tree-radius) - 2px);
	}
	
	ul {
		padding-left: var(--margin-1);
	}
	summary {
		border-bottom: 2px dashed var(--color-border-0);
		display: block;
		cursor: pointer;
		line-height: 36px;
		&::marker {
			display: none;
		}
		&:focus {
			outline: none;
		}
		&:focus-visible {
			outline: 1px dotted #000;
		}
		&::before {
			z-index: 1;
		}

	}
	details{
		&[open]>summary::before {
			background-position: calc(-2 * var(--tree-radius)) 0;
		}
	}
}
